<div class="episode-list-bg hidden">
	<div style="position: absolute; top: 58px; left: 0; right: 0">
		<div style="text-align: center; margin: 0 auto; font-size: 4em;">
			Выбор эпизода
		</div>
	</div>
	
	<div style="position: absolute; left: 0; right: 0; top: 210px;">
		<div style="text-align: center; margin: 0 auto;">
			<div style="display: inline-block; width: auto">
				<div id="0" style="text-align: center; margin: 10px; display: inline-block">1 сезон</div>
				<div id="1" style="text-align: center; margin: 10px; display: inline-block">2 сезон</div>
				<div id="2" style="text-align: center; margin: 10px; display: inline-block">3 сезон</div>
			</div>
		</div>
	</div>
	
	<div style="position: absolute; left: 0; right: 0; bottom: 60px;">
		<div style="text-align: center; margin: 0 auto;">
			Плеер
		</div>
	</div>
</div>